
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- bootstrap -->
    <link href="/css/bootstrap.cerulean.min.css" rel="stylesheet" >
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <!-- client -->
    <link rel="stylesheet" href="/css/client.css" />
</head>
<body>

    <div class="container-fluid">
        <h2 class="mt-3"><i class="far fa-address-card"></i> Customer Register</h2>

<form method="post" action="/Customer/Register">
    <div style="color:red;" class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CompanyName">Company Name</label>
            <input class="form-control" placeholder="Company Name" type="text" data-val="true" data-val-required="Company Name is required" id="CompanyName" name="CompanyName" value="" />
        </div>
        <div class="form-group col-md-6">
            <label for="Address">Address</label>
            <input class="form-control" placeholder="Address" type="text" id="Address" name="Address" value="" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="City">City</label>
            <input class="form-control" placeholder="City" type="text" id="City" name="City" value="" />
        </div>
        <div class="form-group col-md-3">
            <label for="Region">Region</label>
            <input class="form-control" placeholder="Region" type="text" id="Region" name="Region" value="" />
        </div>
        <div class="form-group col-md-3">
            <label for="PostalCode">Postal Code</label>
            <input class="form-control" placeholder="Postal Code" type="text" id="PostalCode" name="PostalCode" value="" />
        </div>
        <div class="form-group col-md-3">
            <label for="Country">Country</label>
            <input class="form-control" placeholder="Country" type="text" id="Country" name="Country" value="" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Phone">Phone</label>
            <input class="form-control" placeholder="Phone" type="text" id="Phone" name="Phone" value="" />
        </div>
        <div class="form-group col-md-6">
            <label for="Fax">Fax</label>
            <input class="form-control" placeholder="Fax" type="text" id="Fax" name="Fax" value="" />
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Register</button>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8OfXi6t4gxFCtkThMSGC5-Frv2WTQp6hA105ipCW9ygMBOWPYCPG8uaW2YHl3yKC5QwvzfX4-Vb02CM_0nqLFfM5AWia2-hhm0NY2hcUHfKLTl4_uDBHP6GIRCy44XfHXsXkhIIjn9lG_ziEn2KwVak" /></form>

    </div>
    <!-- toast -->
    <div id="toast" class="toast">
        <div class="toast-header">
            <strong class="mr-auto" id="product">Product Name</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Discount Code: <strong id="code">CODE</strong>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- popper & bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>